.header {
    margin-top: 3rem;
    font-size: 2rem;
    color: #17255A;
}

.name {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.circle {
    height: 150px;
    width: 150px;
    margin-top: -1rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.biotext {
    font-size: 1.17rem;
    line-height: 1.66rem;
}

.miniheader {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 3rem;
}

.spacedimages {
    margin-right: 1rem;
    transition: transform 0.2s ease-in-out;
}

.spacedimages:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.nonspacedimages {
    margin-right: 1.5rem;
    transition: transform 0.2s ease-in-out;
}

.nonspacedimages:hover {
    cursor: pointer;
    transform: scale(1.025);
}