/* @media (min-width: 1440px) {
  .container-fluid {
    max-width: 100%;
  }
} */

.experiencebackground {
  background-color: #F9F6F0;
  max-width: 100vw;
}

.header {
  margin-top: 3rem;
  font-size: 2rem;
  color: #17255A;
}

.name {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.projectfavicons {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0rem;
}

.projectimage {
  width: 100%;
  height: 20rem;
  padding-right: 1rem;
}

.projecttext {
  font-size: 18px;
  line-height: 24px;
}
