.container-fluid {
  font-family: 'Open Sans';
  border: 2px solid red;
  margin: 0;
  padding: 0;
}

@media (min-width: 1440) {
    .container-fluid {
      width: 1440px;
    }
}

body {
  overflow-x: hidden;
}

*:focus {
  outline: none !important;
}